$fire: #f08030;
$water: #6790f0;
$grass: #78c84f;
$electric: #f9cf30;
$ice: #99d7d8;
$fighting: #c13128;
$poison: #9f409f;
$ground: #e1bf68;
$flying: #a890f0;
$psychic: #f95887;
$bug: #a9b720;
$rock: #b8a038;
$ghost: #705898;
$dark: #6f5848;
$dragon: #7138f8;
$steel: #b8b8d0;
$fairy: #efb5bc;

.fire {
  color: $fire;
}

.water {
  color: $water;
}

.grass {
  color: $grass;
}

.electric {
  color: $electric;
}

.ice {
  color: $ice;
}

.fighting {
  color: $fighting;
}

.poison {
  color: $poison;
}

.ground {
  color: $ground;
}

.flying {
  color: $flying;
}

.psychic {
  color: $psychic;
}

.bug {
  color: $bug;
}

.rock {
  color: $rock;
}

.ghost {
  color: $ghost;
}

.dark {
  color: $dark;
}

.dragon {
  color: $dragon;
}

.steel {
  color: $steel;
}

.fairy {
  color: $fairy;
}
